rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /rooms/{roomId} {
      allow get, list: if true;
    }
    match /establishment/{imageId} {
      allow get, list: if true;
    }
  }
}
